<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Mot de passe oublié?</h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="bi bi-facebook"></i></span>
          <span><i class="bi bi-google"></i></span>
          <span><i class="bi bi-twitter"></i></span>
        </div>
      </div>
      <div class="card-body">
        <form>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Entrez votre adresse mail" [(ngModel)] = "utilisateur.mail">
          </div>
          <br>

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-key"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Entrez le nouveau mot de passe" [(ngModel)] = "utilisateur.password" name="password">
          </div>

          @if(!isPassword){
            <p style="font-size: small; text-align:center; color : red" > Remplissez tous les champs</p>
          }

          @if(!modifiedPassword){
            <p style="font-size: small; text-align:center; color : red" > Erreur lors de la modification</p>
          }
          <input type="submit" class="btn btn-warning" value="valider">


        </form>
      </div>


    </div>
  </div>
</div>
