
.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    }
.btn{
    margin-top: 48%;
    margin-left: 40%;
}
img{
    height: 60%;
    text-align: center;
    margin-left: 15%;
    position: absolute;
}

