<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">

			<div class="card-header">
				<h3>Bienvenue sur notre projet de virtualisation.</h3>
				
			</div>
			<div class="card-body">
				<img src="/assets/cartoon.png" alt="" srcset="">
             
                 <input  type="submit"  class="btn btn-warning" value="Commencer">
             
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Merci!!
				</div>
			</div>
		</div>
	</div>
</div>
