<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">

      <div class="card-header">
        <h3>S'inscrire</h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="bi bi-facebook"></i></span>
          <span><i class="bi bi-google"></i></span>
          <span><i class="bi bi-twitter"></i></span>
        </div>
      </div>
      <div class="card-body">
        <form>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="nom" [(ngModel)] = "utilisateur.nom" name="nom">

          </div>
          <br>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="prenom" [(ngModel)] = "utilisateur.prenom" name="prenom">

          </div>
          <br>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Entrez votre email" [(ngModel)] = "utilisateur.mail" name="mail">

          </div>
          <br>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-key"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Entrez votre mot de passe" [(ngModel)] = "utilisateur.password" name="password">
          </div>
          <br>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
            </div>
            <label id="download" class="form-group custom-file-upload">
              <input type="file" (change)="onCvChange($event)" name="cv"><i class="ti-download"></i>
            </label>
          </div>

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
            </div>
            <label id="download" class="form-group custom-file-upload">
              <input type="file" (change)="onPhotoChange($event)" name="photo"><i class="ti-download"></i>
            </label>
          </div>

          <br>
          <div class="row align-items-center remember">
            <input type="checkbox">Se souvenir de moi
          </div>
          <input type="submit" class="btn btn-warning" value="Envoyer" (click)="inscription()">

          @if (!inscriptionDown) {
            <p style="font-size: small; text-align:center; color : red" > Remplissez tous les champs</p>

          }
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Vous avez déjà un compte?<a [routerLink]="['/login_page']">Se connecter</a>
        </div>
      </div>
    </div>
  </div>
</div>
