<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Se connecter</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="bi bi-facebook"></i></span>
					<span><i class="bi bi-google"></i></span>
					<span><i class="bi bi-twitter"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Entrez votre mail" [(ngModel)] = "user.email" name="email">

					</div
					><br>
					<div class="input-group form-group ">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="bi bi-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="Entrez votre mot de passe" [(ngModel)] = "user.password" name="password">
					</div>
					<br>
					<div class="row align-items-center remember">
						<input type="checkbox">Se souvenir de moi
					</div>
					<input  type="submit"  class="btn btn-warning" value="Envoyer" (click)="connexion()"><i class="bi bi-send-fill"></i>
          @if (!connexionDown) {
            <p style="font-size: small; text-align:center; color : red" > Email ou mot de passe incorect</p>
          }
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Vous n'avez pas de compte?<a [routerLink]="['/inscription']" >S'inscrire</a>
				</div>
				<div class="d-flex justify-content-center">
					<a [routerLink]="['/forget_password']">Mot de passe oublié?</a>
				</div>
			</div>
		</div>
	</div>
</div>
